<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit customer</h1>
<form action="#" th:action="@{/customer/edit/done}" th:object="${customer}" method="post">
    <table>
        <td> <input th:type="hidden" th:field="*{id}"></td>

        <tr>
            <td>Firstname</td>
            <td> <input type="text" th:field="*{firstName}" th:value="${customer.firstName}"></td>

        </tr>
        <tr>
            <td>Lastname</td>
            <td> <input type="text" th:field="*{lastName}" th:value="${customer.lastName}"></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p:${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit">
</form>
</body>
</html>