<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<p>
    <a th:href="@{/create-customer}">Create new customer</a><br>
</p>
<p>
    <a th:href="@{/province/create}">Create new Province</a>
</p>
<p>
    <a th:href="@{/provinces}">List province</a><br>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<h1>List Customer</h1>


<table border="1">
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="customer:${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province?.name}"></td>
            <td> <a th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a></td>
            <td><a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">delete</a></td>
            <td><a th:href="@{/customer/{id}/view(id=${customer.getId()})}">view</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
<p>
<form action="#" th:action="@{/customer/search}" method="get">
    <input type="submit" value="Search">
</form>
</p>

</body>
</html>